<br><br>
<div class="container">
    <center>
        <h1>choixLangue</h1>

        <input type="button" value="اللغة العربية" class="btn btn-outline-secondary" onclick="AR()">
        <input type="button" value="Langue française" class="btn btn-outline-secondary" onclick="FR()">
        <input type="button" value="language English" class="btn btn-outline-secondary" onclick="AN()">
    </center>

</div>

<script>
    function AR(){
        if (typeof(Storage) !== "undefined") {
            // Store
            sessionStorage.setItem("langue", "AR");
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
        window.location.assign("http://localhost:3000/modeCommande");
    }

    function FR(){
        if (typeof(Storage) !== "undefined") {
            // Store
            sessionStorage.setItem("langue", "FR");
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
        window.location.assign("http://localhost:3000/modeCommande");
    }

    function AN(){
        if (typeof(Storage) !== "undefined") {
            // Store
            sessionStorage.setItem("langue", "AN");
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
        window.location.assign("http://localhost:3000/modeCommande");
    }
</script>