

<br><br>
<div class="container">
    <center>
        <h1>mode de la commande</h1>
        <div id="contentmodecommande">
    
        </div>
    </center>
</div>

<script>

    function onload_start(){

        if (typeof(Storage) !== "undefined") {
            // Retrieve
            //FRANCAIS
            if(sessionStorage.getItem("langue") == "FR"){

                document.getElementById("contentmodecommande").innerHTML = '<input type="button" value="sur place" class="btn btn-outline-secondary" onclick="sur_place()"> <input type="button" value="emporter" class="btn btn-outline-secondary" onclick="emporter()">';
                
            }else if(sessionStorage.getItem("langue") == "AN"){
                //ANGLISH
                document.getElementById("contentmodecommande").innerHTML = '<input type="button" value="on the spot" class="btn btn-outline-secondary" onclick="sur_place()"> <input type="button" value="carry" class="btn btn-outline-secondary" onclick="emporter()">';
            }else if(sessionStorage.getItem("langue") == "AR"){
                //alert("aarr");
                document.getElementById("contentmodecommande").innerHTML = '<input type="button" value="هنا" class="btn btn-outline-secondary" onclick="sur_place()"> <input type="button" value="ولا ديه معاك" class="btn btn-outline-secondary" onclick="emporter()">';
            }
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
    }


    function sur_place(){
        if (typeof(Storage) !== "undefined") {
            // Store
            sessionStorage.setItem("modeCommande", "sur_place");
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
        window.location.assign("http://localhost:3000/home");
    }

    function emporter(){
        if (typeof(Storage) !== "undefined") {
            // Store
            sessionStorage.setItem("modeCommande", "emporter");
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
        window.location.assign("http://localhost:3000/home");
    }
</script>
